.attribution {
  position: absolute;
  bottom: 0px;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
}

.tab-box {
  min-height: 500px;
  margin-bottom: 30px;
  background: #eef2f3;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content-title {
  padding-bottom: 20px;
}

.tab-image {
  position: relative;
  text-align: center;
}

.tab-image img {
  width: 100%;
}

.content {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
}
