.tabs {
  margin-bottom: 20px;
}

.tab {
  border: 1px solid white;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  cursor: pointer;
  padding: 10px 0;
  text-align: center;

}

.tab-active {
  border-bottom: none;
  background: #eef2f3;
  color: gray;
}
