.banner-img-options {
  text-align: center;
  padding: 5px;
}

.banner-img-options img {
  margin: 10px;
  border-radius: 3px;
  padding: 3px;
}

.banner-img-options img:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

.banner-selected {
  background-color: gray;
}
