.alert-box {
  padding: 15px;
  width: 100%;
  border-radius: 2px;
  color: #666666;
  margin: 15px 0;
  text-align: center;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

.error {
  background: #ff9999;
}

.ok {
  background: rgb(144, 244, 127);
}
