.screen {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
}

.modal-window {
    position: absolute;
    z-index: 10000;
    width: 50%;
    top: 10%;
    height: auto;
    min-height: 200px;
    right: 0;
    left: 0;
    color: #666666;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: -7px 10px 20px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 10px 20px 6px rgba(0,0,0,0.75);
    box-shadow: -7px 10px 20px 6px rgba(0,0,0,0.75);
}

hr {
  border-top: 1px solid lightgray;
}

.close-btn {
  border: none;
  float: right;
  cursor: pointer;
}

.close-btn:hover {
  background: #ff9999;
}

.footer-btn {
  border: 1px solid gray;
  border-radius: 2px;
  margin-top: 15px;
  margin-right: 15px;
  padding: 5px 15px;
}

.submit {
  background: rgb(144, 244, 127);
}

.submit:hover {
  background: rgb(25, 221, 25);
}

.cancel:hover {
  background: #ff9999;
}

@media (max-width: 900px) {
  .modal-window {
    width: 75%;
  }
}
