.flight-table {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #eef2f3;
  padding-top: 30px;
}

.flight-row {
  padding: 10px 0;
  color: black;
  border-bottom: 1px solid grey;
}

.row-icon img {
  height: 75%;
  height: 75%;
}

.flight-row p {
  padding-top: 15px;
}

.page-number {
  background: none;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
}

.page-number:hover {
  background: lightblue;
  text-decoration: underline;
}

.active {
  background: rgb(144, 244, 127);
}

.active:hover {
  background: rgb(144, 244, 127);
}
