.gradient {
    height: 800px;
    background: #33ccff; /* For browsers that do not support gradients */
    background: linear-gradient(#000099, #000099, #ff9966); /* Standard syntax (must be last) */
}

.background {
  background-color: #000066;
  min-height: 600px;
  padding: 40px;
}
