.gradient {
    height: 100vh;
    width: 100vw;
    background: #00f260;
    background: linear-gradient(#0575e6, #00f260);
}

.logo {
  margin-top: 50px;
  width: 100%;
}

.background {
  background-color: #000066;
  min-height: 600px;
  padding: 40px;
}

.nav-item {
  color: white;
}

.button-margin {
  margin-top: 40px;
}

#accordion {
  color: white;
  margin-top: 40px;
}

ul {
  list-style: none;
}

.card-body, .card-header {
  background-color: #000066;
}

.border {
  border-left: 1px solid white;
}

.review {
  margin-top: 40px;
}

.marker {
  background-image: url("images/locationmarker.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.zero-margin {
  margin: 0;
  padding: 0;
}

.marker-lg {
  height: 250px;
  margin-bottom: 40px;
}

.weather-icon {
  height: 50px;
}
