.gradient {
    height: 100vh;
    background: #33ccff;
    background: linear-gradient(#ff4e50, #f9d423);
}

.logo {
  height: 50vh;
  margin-top: 10vh;
}

.skyline {
  width: 100vw;
}

.background {
  background-color: #000066;
  min-height: 600px;
  padding: 40px;
}

.nav-item {
  color: white;
}

.button-margin {
  margin-top: 40px;
}

#accordion {
  color: white;
  margin-top: 40px;
}

ul {
  list-style: none;
}

.card-header .card-body {
  background-color: #000066;
}

.border {
  border-left: 1px solid white;
}

.review {
  margin-top: 40px;
}

.marker {
  background-image: url("images/locationmarker.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}
