@import url('https://fonts.googleapis.com/css?family=Barlow');

html, body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  color: white;
  background: #eef2f3;
  font-family: 'Barlow', sans-serif;

}
