.banner {
  width: 100%;
  text-align: left;
  border-radius: 5px;
  padding: 20px 40px;
  height: 120px;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 13px 14px 31px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 14px 31px -9px rgba(0,0,0,0.75);
  box-shadow: 13px 14px 31px -9px rgba(0,0,0,0.75);
}

.banner div {
  display: inline-block;
  vertical-align: middle;
}

.extended-banner div {
  display: inline-block;
}

.extended-full-width {
  width: 100%;
}

.expand-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
}

.expand-btn:hover {
  text-decoration: none;
  color: gray;
}

.add-btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 50px;
  background: rgb(144, 244, 127);
}

.add-btn:hover {
  background: rgb(25, 221, 25);
}

.extended-left textarea {
  margin-top: 40px;
  border-radius: 5px;
}

/* ANIMATIONS */

.slide-down {
  height: 240px;
  -webkit-animation: slideDown 4000ms;
  animation: slideDown 4000ms;
}

.slide-up {
  height: 120px;
  -webkit-animation: slideUp 4001ms;
  animation: slideUp 4001ms;
}

.fade-in {
  animation: contentFadeIn 6000ms;
  -webkit-animation: contentFadeIn 6000ms;
}

.fade-out {
  animation: contentFadeOut 6000ms;
  -webkit-animation: contentFadeOut 6000ms;
}

/* EXTENDED ANIMATIONS */

@-webkit-keyframes slideDown {
  from { height: 120px; }
  to   { height: 240px; }
}

@keyframes slideDown {
  from { height: 120px; }
  to   { height: 240px; }
}

@keyframes slideUp {
  0%   { height: 240px; }
  100% { height: 120px; }
}

@-webkit-keyframes slideUp {
  0%   { height: 240px; }
  100% { height: 120px; }
}

@keyframes contentFadeIn {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-webkit-keyframes contentFadeIn {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes contentFadeOut {
  0%    { opacity: 1; }
  30%   { opacity: 0; }
  100%  { opacity: 0; }
}

@-webkit-keyframes contentFadeOut {
  0%    { opacity: 1; }
  30%   { opacity: 0; }
  100%  { opacity: 0; }
}
