.review-banner {
  background: #FFFFFF;
  color: grey;
}

.expand-btn {
  color: grey;
}

.top-content {
  width: 100%;

}

.top-content div {
  display: inline-block;
}

.review-title h3 {
  display: inline-block;
}

.review-rating {
  position: absolute;
  right: 10px;
}

.edit-icons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.edit-icons i {
  margin-right: 10px;
  transition: transform 1s;
}

.edit-icons i:hover {
  transform: scale(1.5);
}
