form {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0px;
}

input, textarea {
  border: none;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input:focus, textarea:focus {
  outline-width: 0;
  background: #aeddf4;
  border: none;
}

.red-text {
  color: red;
}
